{%extends 'base.html'%}

{%block content%}

<h1>Feed</h1>
{% if founds %}
<table border='1'>
<tr>
<td>Title</td>
<td>City</td>
<td>URL</td>
<td>Phone Number</td>
<td>Pic</td>
<td>Match</td>
</tr>

{% for item in founds%}

<tr>
<td>{{item.title}}</td>
<td>{{item.city}}</td>
<td><a href="{{item.url}}">link</a></td>
<td>{{item.phone_number}}</td>
<td><img src="{{item.picture}}" width='50px'/></td>
{% comment %} beyond-io/givit#22 {% endcomment %}
<td><button type='button' class='btn btn-primary'>match</button></td>
</tr>

{%endfor%}
</table>

{% else %}
<p>anything to show yet..</p>
{% endif %}

{%endblock%}
